/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing: border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #484848;
	--color-headings: #000000;
	--color-text-2: white;
	--color-background: white;
	--color-background-2: #000000;
	--color-accent: #f5f5f5;
	--color-accent-2: #cfcfcf;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #ffffff;
		--color-text-2: #000000;
		--color-background: #000000;
		--color-background-2: #ffffff;
		--color-accent: #f5f5f5;
		--color-accent-2: #cfcfcf;
	}
}

/*********************/
/* FONTS */
/*********************/
@font-face {
	font-family: "Ikea fontje";
	src: url('../fonts/noto-ikea-400.woff2');
	font-weight: 400;
}

@font-face {
	font-family: "Ikea fontje";
	src: url('../fonts/noto-ikea-700-bold.woff2');
	font-weight: 700;
}

/*********************/
/* BODY */
/*********************/

body {
	margin: 0;
	font-family: "Ikea fontje";
	font-size: 0.9em;
	color: var(--color-headings);
	background-color: var(--color-background);
}

body p {
	color: var(--color-text);
	line-height: 1.5em;
}

/*********************/
/* HEADER */
/*********************/

header nav:nth-of-type(1) {
	background-color: var(--color-background-2);
	color: var(--color-text-2);
}

header nav:nth-of-type(1) ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between; 
	list-style: none;
}

header nav:nth-of-type(1) li {
	display: flex;
	align-items: center;
}

header nav:nth-of-type(1) img {
    margin: 0.5em;
	width: 30px;
	height: 30px;
}

header nav:nth-of-type(1) li:nth-of-type(3) {
    margin-right: 0.5em;
}

header nav:nth-of-type(1) a {
	color: var(--color-text-2);
	text-decoration: none;
	font-size: 0.8em;
}

header nav:nth-of-type(1) a:hover {
	text-decoration: underline;
}

/* Header logo, zoekbalk en icons */

header section:nth-of-type(1) {
	display: grid;
	grid-template-columns: 10em 4fr 1fr;
	align-items: center;
	margin: 0;
	padding: 0;
}

@media (width < 600px ){
	header section:nth-of-type(1) {
	grid-template-columns: 10em 4fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}
	header form	{
		grid-column: 1/-1;
		grid-row-start: 2;
	}
}

header section:nth-of-type(1) a:nth-of-type(1) {
	margin: 1em;
	width: 7em;
}

header section:nth-of-type(1) ul {
	display: flex;
	padding: 0;
}

header section:nth-of-type(1) li {
	list-style: none;
}

header section:nth-of-type(1) li img {
	width: 25px;
	height: 25px;
}

header section:nth-of-type(1) li img:hover {
	background-color: var(--color-accent-2);
	border-radius: 1em;
}
header form {
	display: grid;
	grid-template-columns: 2em 1fr 2em;
	align-items: center;	
	background-color: var(--color-accent);
	color: var(--color-headings);
	margin-right: 1em;
	margin-left: 1em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 2em;
}

header form:hover {
	background-color: var(--color-accent-2);

}
header form input {
	padding: 1em;
	background-color: var(--color-accent);
	border: 0;
	width: 70%;
}

header form input::placeholder{
	color: var(--color-text);
	font-size: 1.2em;
}

header form input:hover {
	background-color: var(--color-accent-2);
}


header section:nth-of-type(1) form img {
	width: 25px;
	height: 25px;
}

@media (width > 1200px ){
	header form {
	width: 50%;
}
}


/* Header uitklap navigatie */
header nav:nth-of-type(2) {
	position: fixed;
	inset: 0;
	background-color: var(--color-background);
	z-index: 1;
	translate: -100%;
	transition: 0.5s;
}

header nav:nth-of-type(2).open {
	translate: 0;
}

header button {
	z-index: 2;
	position: relative;
	border: none;
	background-color: var(--color-background);
}

header nav:nth-of-type(2) ul {
	padding: 0;
}

header nav:nth-of-type(2) li {
	list-style: none;
	margin-left: 1em;
	padding: 1em;
}

header nav:nth-of-type(2) li p {
	background-color: var(--color-accent);
	color: var(--color-headings);
	width: 20vw;
	margin-right: 1em;
	margin-left: 1em;
	padding: 1em;
	border: 0;
	border-radius: 2em;
}

header nav:nth-of-type(2) div {
	display: flex;
	align-items: center;
}

header nav:nth-of-type(2) div img {
	width: 40px;
	height: 40px;
}

header nav:nth-of-type(2) ul:nth-of-type(1) a {
	text-decoration: none;
	font-weight: 700;
	font-size: 1.8em;
	color: var(--color-headings);
}

header nav:nth-of-type(2) ul:nth-of-type(1) a:hover {
	text-decoration: underline;
}

header nav:nth-of-type(2) ul:nth-of-type(2) a {
	text-decoration: none;
	font-weight: 700;
	font-size: 1.4em;
	color: var(--color-headings);
}

header nav:nth-of-type(2) ul:nth-of-type(2) a:hover {
	text-decoration: underline;
}

header nav:nth-of-type(2) ul:nth-of-type(3) a {
	text-decoration: none;
	font-size: 1em;
	color: var(--color-headings);
}

header nav:nth-of-type(2) ul:nth-of-type(3) a:hover {
	text-decoration: underline;
}

@media (width > 600px) {
	header nav:nth-of-type(1) {
		padding-right: 3em;
    	padding-left: 3em;
	}
	header section:nth-of-type(1){
		padding-right: 3em;
    	padding-left: 3em;
    }
}

@media (width > 900px) {
	header nav:nth-of-type(1) {
		padding-right: 4em;
    	padding-left: 4em;
	}

	header nav:nth-of-type(1) a {
		font-size: 1em;
	}

	header section:nth-of-type(1){
		padding-right: 4em;
    	padding-left: 4em;
    }

	header nav:nth-of-type(2) {
        width: 500px;
        margin-right: auto;
    }

}

/*********************/
/* MAIN */
/*********************/
main {
	margin-right: 1.5em;
	margin-left: 1.5em;
}

@media (width > 600px) {
	main {
        margin-right: 3em;
		margin-left: 3em;
    }

	h1 {
        font-size: 2.5em;
    }

	h2 {
        font-size: 1.8em;
    }
}

@media (width > 900px) {
	main {
        margin-right: 4em;
		margin-left: 4em;
    }
}

@media (width > 1800px) {
	main {
        width: 70%;
        margin: auto;
    }
}


/*********************/
/* FOOTER */
/*********************/
footer {
	background-color: var(--color-accent);
	padding: 1.5em;
}

footer a {
	color: var(--color-text);
}

footer button {
	margin-top: 1em;
	padding: 1em;
	font-weight: 700;
	color: var(--color-text-2);
	background-color: var(--color-background-2);
	border: none;
	border-radius: 30px;
}

footer summary {
	margin: 1em;
	font-weight: 700;
	padding-bottom: 1em;
	border: var(--color-accent-2);
	border-bottom-style: solid;
}

footer li {
	padding-bottom: 1em;
	list-style: none;
}

footer section:nth-of-type(1) a {
    font-size: 0.9em;
    margin-top: 1em;
    padding: 1.5em;
    text-decoration: none;
}

footer li:hover {
	text-decoration: underline;
}

footer img {
    border: 1px solid var(--color-background-2);
	border-radius: 5px;
	width: 60px;
	height: auto;
	margin: 1em;
}

@media (width > 600px) {
	footer {
       padding: 3em;
    }
}

@media (width > 900px) {
	footer {
        padding: 4em;
    }
}