 /*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-geel: #ffdb01;
    --color-blauw: #007cc1;
    --color-donkergrijs: #484848;
    --color-groen: #03853e;
}

/* Welkom bij IKEA */
main section:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 1em;
}

main section:nth-of-type(1) h2 {
    padding-top: 0;
    padding-bottom: 0;
}

main section:nth-of-type(1) p:nth-of-type(1) {
    color: var(--color-headings);
    font-size: 1.5em;
    font-weight: 700;
}

main section:nth-of-type(1) a { 
    color: var(--color-link);
    text-decoration: none;
    font-weight: 700;
    padding-bottom: 1em;
    border: #cfcfcf;
    border-bottom-style: solid;
}

main section:nth-of-type(1) a:hover { 
    text-decoration: underline;
}

main section:nth-of-type(1) div {
    grid-column: 1 / -1;
}

@media (width > 600px) {
    main section:nth-of-type(1) {
        grid-template-columns: 1fr 1fr;
    }
}

main img:nth-of-type(1) {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
}

/* Nu bij IKEA afbeeldingen swipe */
main section:nth-of-type(2) {
    display: flex;
    overflow-x: scroll;
}

main section:nth-of-type(2) article {
    margin-right: 1em;
    height: 45em;
    margin-bottom: 3em;
}

main section:nth-of-type(2) h3,
main section:nth-of-type(2) p {
    margin-left: 2em;
    margin-right: 2em;
}

main section:nth-of-type(2) img {
    min-width: 400px;
    max-width: 600px;
    height: auto;
}

main section:nth-of-type(2) article:nth-of-type(1),
main section:nth-of-type(2) article:nth-of-type(2) {
    background-color: var(--color-blauw);
    color: var(--color-text-2);
}

main section:nth-of-type(2) article:nth-of-type(1) p,
main section:nth-of-type(2) article:nth-of-type(2) p {
    color: var(--color-text-2);
    margin-bottom: 3em;
}

main section:nth-of-type(2) article:nth-of-type(1) a,
main section:nth-of-type(2) article:nth-of-type(2) a {
    margin: 2em;
    padding: 1.5em;
    font-size: 1em;
    background-color: var(--color-background-buttons-light);
    border: none;
    border-radius: 50px;
}

main section:nth-of-type(2) article:nth-of-type(1) svg,
main section:nth-of-type(2) article:nth-of-type(2) svg {
    fill: var(--color-background-buttons-dark);
}

main section:nth-of-type(2) article:nth-of-type(3) {
    background-color: var(--color-geel);
    color: var(--color-text-1);
}

main section:nth-of-type(2) article:nth-of-type(3) p {
    color: var(--color-headings);
    margin-bottom: 3em;
}

main section:nth-of-type(2) article:nth-of-type(3) a {
    margin: 2em;
    padding: 1.5em;
    font-size: 1em;
    color: var(--color-text-2);
    background-color: var(--color-background-buttons-dark);
    border: none;
    border-radius: 50px;
}

main section:nth-of-type(2) article:nth-of-type(3) svg {
    fill: var(--color-background-buttons-light);
}

main section:nth-of-type(2) article:nth-of-type(4) {
    background-color: var(--color-accent);
    color: var(--color-text-1);
}

main section:nth-of-type(2) article:nth-of-type(4) p {
    color: var(--color-headings);
    margin-bottom: 3em;
}

main section:nth-of-type(2) article:nth-of-type(4) a {
    margin: 2em;
    padding: 1.5em;
    font-size: 1em;
    color: var(--color-headings);
    background-color: var(--color-background-buttons-dark);
    border: none;
    border-radius: 50px;
}

main section:nth-of-type(2) article:nth-of-type(4) svg {
    fill: var(--color-background-buttons-light);
}

/* Jouw IKEA product is geld waard */
main section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3em;
    background-color: var(--color-groen);
    color: var(--color-text-2);
    padding-bottom: 3em;
}

main section:nth-of-type(3) h2 {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 0;
}

main section:nth-of-type(3) p {
    color: var(--color-text-2);
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

main section:nth-of-type(3) a { 
    text-decoration: none;
    color: var(--color-link);
    margin: 2em;
    padding: 1em;
    font-weight: 700;
    background-color: var(--color-background-buttons-light);
    border: none;
    border-radius: 30px;
    margin-bottom: 3em;
}

main section:nth-of-type(3) a:hover {
    background-color: var(--color-accent);
}

main section:nth-of-type(3) img {
    margin: 0;
}

main section:nth-of-type(3) div {
    grid-column: 1 / -1;
}

@media (width > 1200px) {
    main section:nth-of-type(3) {
        grid-template-columns: 1fr 500px;
        padding-bottom: 0;
    }
}

/* Ruimtes */
main section:nth-of-type(4) {
    display: flex;
    overflow-x: scroll;
    position: relative;
}

main section:nth-of-type(4) img {
    width: 250px;
    height: auto;
}

main section:nth-of-type(4) article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

main section:nth-of-type(4) a {
    margin-top: 15em;
    position: absolute;
    color: var(--color-link);
    text-decoration: none;
    padding: 1em;
    font-weight: 700;
    background-color: var(--color-background-buttons-light);
    border: none;
    border-radius: 30px;
}

main section:nth-of-type(4) a:hover {
    background-color: var(--color-accent);
}

/* Dit mag je niet missen */
main section:nth-of-type(5) {
    display: flex;
    overflow-x: scroll;
    position: relative;
}

main section:nth-of-type(5) img {
    width: 250px;
    height: auto;
}

main section:nth-of-type(5) article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

main section:nth-of-type(5) a {
    margin-top: 15em;
    position: absolute;
    color: var(--color-link);
    text-decoration: none;
    padding: 1em;
    font-weight: 700;
    background-color: var(--color-background-buttons-light);
    border: none;
    border-radius: 30px;
    width: 7.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section:nth-of-type(5) a:hover {
    background-color: var(--color-accent);
}

/* Belangrijke mededeling */
main section:nth-of-type(6) {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3em;
    gap: 1em;
}

main section:nth-of-type(6) div {
    grid-column: 1 / -1;
}

@media (width > 900px) {
    main section:nth-of-type(6) {
        grid-template-columns: 1fr 1fr;
    }
}

/* Belangrijke veiligheidswaarschuwingen */
main section:nth-of-type(7) {
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: var(--color-background-3);
    color: var(--color-text-2);
    padding: 2em;
}

main section:nth-of-type(7) h2 {
    padding: 0;
}

main section:nth-of-type(7) p {
    color: var(--color-text-2);
    padding-bottom: 1em;
}

main section:nth-of-type(7) a {
    padding: 1em;
    text-decoration: none;
    color: var(--color-link);
    font-size: 1em;
    font-weight: 700;
    background-color: var(--color-background-buttons-light);
    border: none;
    border-radius: 30px;
}

main section:nth-of-type(7) a:hover {
    background-color: var(--color-accent);
}

/* Ideeën op basis van je recent bekeken producten */
main section:nth-of-type(8) {
    display: flex;
    overflow-x: scroll;
}

main section:nth-of-type(8) img {
    width: 250px;
    height: auto;
    padding-right: 1em;
}

/* Bekijk onze services */
main section:nth-of-type(9) {
    display: flex;
    overflow-x: scroll;
    position: relative;
}

main section:nth-of-type(9) img {
    width: 250px;
    height: auto;
}

main section:nth-of-type(9) article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5em;
}

main section:nth-of-type(9) a {
    margin-top: 15em;
    position: absolute;
    color: var(--color-link);
    text-decoration: none;
    padding: 1em;
    font-weight: 700;
    background-color: var(--color-background-buttons-light);
    border: none;
    border-radius: 30px;
    width: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section:nth-of-type(9) a:hover {
    background-color: var(--color-accent);
}

/* Meer ideeën en inspiratie */
main section:nth-of-type(10) {
    display: flex;
    overflow-x: scroll;
}

main section:nth-of-type(10) a:nth-of-type(1) {
    border: 1px solid rgb(0, 0, 0);
}

main section:nth-of-type(10) a {
    text-decoration: none;
    color: var(--color-link);
    margin-right: 1em;
    padding: 1em;
    font-weight: 700;
    background-color: var(--color-accent);
    border: none;
    border-radius: 30px;
    margin-bottom: 2em;
}

main section:nth-of-type(10) a:hover {
    background-color: var(--color-accent-2);
}

/* afbeeldingen grid meer inspiratie */

main section:nth-of-type(11) {
    display: grid;
    margin-top: 1em;
    margin-bottom: 3em;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

main section:nth-of-type(11) img {
    width: 100%;
    height: auto;
}

main section:nth-of-type(11) a {
    place-self: center;
    display: flex;
    justify-content: center;
    width: 10em;
    grid-column: 2;
    padding: 1em;
    font-size: 1em;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
}

main section:nth-of-type(11) a:hover {
    border: 2px solid rgb(0, 0, 0);
}

@media (width > 600px) {
    main section:nth-of-type(11) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
